Modelo artigo - Revisão Sistemática.docx
Estrutura Artigo.odt
Estrutura Artigo - Idiomas.docx
debug.log
Dados Relatório.rar
BPPrecisao.jpeg
BPF1.jpeg
BPAcuracia.jpeg
Anotações da reunião - 001.docx
2021-05-30 - Artigo - Corrigido.docx
2021-04-27 - Artigo Mod. ENEGEP 2021 - Marlon.docx
2021-04-13 - Estrutura Artigo - Idiomas - Comentários Rafael.docx
2019-07-01 - TCC - Monique.docx
2019-06-18 - Apressentação TCC.pptx
2019-06-06 - Dados Brutos.xlsx
/Apresentação Enegep
/Arquivos
/Arquivos exemplos
/Artigos